# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Prisma
*.db
*.sqlite
*.sqlite3

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Misc
.cache/
dist/

# Data
.data/*
!.data/registry/
!.data/registry/**
!.data/mirror_repertoire.json

.vercel
